# Mario E. Valdes-Tresanco (marioe911116@gmail.com)
Mario E. Valdes-Tresanco <marioe911116@gmail.com> marioernestovaldes <marioe911116@gmail.com>
Mario E. Valdes-Tresanco <marioe911116@gmail.com> Mario E Valdes-Tresanco <marioe911116@gmail.com>

# Mario S. Valdés (mariosergiovaldes145@gmail.com)
Mario S. Valdés <mariosergiovaldes145@gmail.com> MARIO <mariosergiovaldes145@gmail.com>
Mario S. Valdés <mariosergiovaldes145@gmail.com> Mario Sergio Valdés Tresanco <mariosergiovaldes145@gmail.com>

# Sören Wacker
Sören Wacker <soerendip@gmail.com> Soren Wacker <soerendip@gmail.com>
Sören Wacker <s.wacker@tudelft.nl> Soren Wacker <s.wacker@tudelft.nl>
Sören Wacker <swacker@ucalgary.ca> Soren Wacker <swacker@ucalgary.ca>
Sören Wacker <3391614+sorenwacker@users.noreply.github.com>
