.peak-card-container:hover .peak-action-button {
    opacity: 1 !important;
}
.peak-action-button:hover {
    transform: scale(1.1);
    background: white !important;
    color: red !important;
}


.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-title {
    white-space: normal;
}